__pycache__/
.mypy_cache/
localizer/cpp/padded.nii
localizer/cpp/preprocessed.nii
localizer/cpp/paddedProcessed.nii
localizer/cpp/rigid.nii
localizer/cpp/ADNI_normalized.nii
localizer/Normalized*.nii
localizer/tmp.nii
localizer/ref.nii
localizer/roi.nii
tracked_files.txt
*archive*

localizer/src/tests/*.nii
localizer/src/build/
localizer/src/install/